<div>
  <h3 class="text-center">Bidding</h3>
  <div id="bid-form">
    <div class="form-group">
      <label>Reserve Bid</label>
      <input type="number">
    </div>
    <div class="form-group">
      <label>Temperature Delta</label>
      <input type="number">
    </div>
    <div class="form-group">
      <label>C02 Delta</label>
      <input type="number">
    </div>
    <div class="form-group">
      <label>Humidity Delta</label>
      <input type="number">
    </div>
    <div class="form-group">
      <label>Fill Delta</label>
      <input type="number">
    </div>
    <div class="text-center">
      <button class="btn-primary" (click)="onSubmit()">Enter Bid</button>
    </div>
  </div>
</div>
