#login {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#forgot {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#overall {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
