<div id="overall">
  <div id="login">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" value="John Doe" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" value="adfasdfsd" name="psw" required>

    <button class="btn-primary">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>

    <div class="container" id="forgot" style="background-color:#f1f1f1">
      <button class="btn btn-primary" type="button">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </div>
</div>
