<nav>
  <div id="header">

    <div>
      <img id="Logo" src="../../assets/Logo.png" alt="Logo">
    </div>

    <ul>
      <li><a href="Home">Home</a></li>
      <li><a href="">Categories</a></li>
      <li><a href="">Companies</a></li>
      <li><a href="about.asp">About</a></li>
    </ul>
    <div class="boxed">
      <i class="fas fa-search" style="position: absolute; height: 40%; width: 40%; left: -80px; top: 20px"> </i>
      <input id="search" class="form-control" placeholder=" SEARCH FOR AN ITEM" type="search">
    </div>
  </div>
</nav>

<div class="flex-container">
  <div class="row justify-content-md-center">
    <div *ngFor="let _product of products">
      <div class=".col-3">
        <app-product-card [product]="_product"></app-product-card>
      </div>
    </div>
  </div>
</div>
