<nav>
    <div id="header" style="padding-left: 80px;">
      <div>
        <img id="Logo" src="../../assets/Logo.png" alt="Logo">
      </div>
      <ul>
        <li><a href="Home">Home</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Companies</a></li>
        <li><a href="about.asp">About</a></li>
        <li><a [routerLink]="['/bid']">New Bid</a></li>
      </ul>
      <div align="right" class="boxed">
        <i class="fas fa-search" style= "position: absolute; height: 40%; width: 40%; right: -80px; top: 15px"> </i>
        <input id="search" class="form-control" placeholder=" SEARCH FOR AN ITEM" type="search">
      </div>
    </div>
</nav>
  