@import url('https://fonts.googleapis.com/css?family=Roboto');

#header {
  background-color: #174ca9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-data {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.product-data li {
  margin: 22px;
  list-style: none;;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}

li a {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

li a:visited {
  text-decoration: none;
  color:white;
  font-size: 30px;
  text-transform: uppercase;
}
li a:hover {
  text-decoration: none;
  border-bottom: 3px solid currentColor;
  color: white;
}
li a:active {
  text-decoration: none;
  border-bottom: 3px solid currentColor;
  color: white;
}

nav li {
  display: inline;
  padding: 14px 16px;
}

h1 {
  text-align: center;
}

.boxed {
  position: relative;
  background-color: #174ca9;
  border-radius: 10px;
  width: 320px;
  padding: 10px;
  margin: 15px auto;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

/* Acts on the item name under its photo */
.potatoes {
  background-color: #174ca9;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-bottom-left-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}

.food {
  background-color: #174ca9;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.card {
  overflow: hidden;
  border-radius: 10px!important;
  margin: 30px;
}
#search {
  border-radius: 10px;
  margin-right: 30px;

}

#searchimage {
  position: absolute;
  height: 40%;
  width: 40%;
  left: -80px;
  top: 20px;
}
  margin: auto;

}

#button {
  background-color: #174ca9;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  width: 80px;
}

#bidsearch {
  border-radius: 10px;
}

body {
  margin: 0;
}

#Logo {
  width: 100px
}
