<div class="item">
  product$ <br>
  <br>
  <br>
  SHIPMENT AMOUNT: {{  }} <br> <br>
  SHIP DATE: MM/DD/YY <br> <br>
  ARRIVAL DATE: MM/DD/YY <br> <br>
  ORIGIN PORT: MANILA, PHILIPINES <br> <br>
  DEST. PORT: LOS ANGELES, USA <br> <br>
  FRESHNESS: FRESH <br> <br>
  CURRENT BID: $10000 <br> <br> <br>

  <input id="bidsearch" placeholder="" type="text">
  <button id="button">BID</button>
</div>

<div class="card2" style="width: 22rem;">
  <img class="map" src="" alt="image">
  <div class="potatoes">
    map
  </div>

  <div>
  </div>
  <div class="card2" style="width: 22rem;">
    <img class="map" src="" alt="image">
    <div class="potatoes">
      graph
    </div>
        <app-product-data-chart [dataSets]="productData"></app-product-data-chart>
    <div>
    </div>





